body {
    font-family: var(--main-font);
    color: #434455;
    background-color: #ffffff;
     }

:root {
    --IRIS: #4D5AE5;
    --OCEAN: #404BBF;
    --NAVY-BLUE: #2E2F42;
    --GREEN: #31D0AA;
    --SLATE:#434455;
    --LIGHT-SLATE:#8E8F99;
    --CORNFLOWER:#E7E9FC;
    --CLOUD:#F4F4FD;
    --NAVY-BLUE-modal: #2E2F42 40%;
    --GREY: #2E2F42 70%;
    --WHITE:#FFFFFF;
    --DAIRY: #FCFCFC;
    --main-font: Roboto , sans-serif;
    --secondary-font: Raleway, sans-serif;
    --background-color: #FFFFFF;
    --second-heading-size:36px ;
    --second-heading-weight:700px ;
    --third-heading-size:20px ;
    --third-heading-weight:500px ;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none ;
}

.span {
    color: #2E2F42;
    text-decoration: none ;
}

.list {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none ;
}
.filters-list {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color:#4D5AE5;
}
.filter-button {

    background-color:#E7E9FC ;
}

.filter-button:hover {
    background-color: #404BBF  ;
   
}
.header-link {
    color: var(--color-navy-blue);
  }
  .header-link:hover,
  .header-link:focus {
    color: var(--color-ocean);
  }
